* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    font-size: 100%;
    background-color: lightblue;
    font-family: Arial;
}

main {
    display: flex;
    width: 95%;
    height: 95%;
    margin: 20px auto 50px auto;
    padding: 0px;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
article{
    height: 80%;
    width: 35%;
    align-items: space-around;
}
.images {
    height: 48px;
    width: 48px;
    border-radius: 60px;
    flex-direction: row;
}
section {
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 50%;
    width: 100%;
}
#o234{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#section{
    display: flex;
    align-items: row;
}
#article {
    height: 80%;
    width: 35%;
    font-size: 25px;
    margin: 20px;
}

#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ch {
    font-size: 70px;
    color: #f4f4f4;
}
aside {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    background-color: dodgerblue;
    border-radius: 10px;
    height: 80%;
    width: 35%;
    font-size: 30px;
    margin: 20px;
}
 
#teste {
    display: flex;
    flex-direction: column;
    align-items: row;
}
 
.input {
    display: flex;
    line-height: 40px;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: #f4f4f4;
}
#bot {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 51px;
    font-size: 35px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
#cb {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
footer{
    display: flex;
    justify-content: center;
    color: white;
}